* {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  text-decoration: none;
}

button,
a {
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
}

html,
body,
.container {
  width: 100vw;
  height: 185vh;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'TitilliumWeb-Bold';
  src: url('./Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('./Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'TitilliumWeb-SemiBold';
  src: url('./Titillium_Web/TitilliumWeb-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'GT-America-Trial-Light';
  src: url('./GTAmericaTrial/GT-America-Trial-Light.otf') format('opentype');
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 7em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  z-index: 3;
  background: rgba(255, 255, 255, 1);
  box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.04);
}

header img {
  width: 10em;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 27em;
  height: 3em;
  margin: 0 8vw 0 8vw;
  padding-top: 2em;
}

header nav #whitepaper {
  width: 6em;
  border: 1px solid #1213a4;
  border-radius: 8px;
}

header nav a {
  text-align: center;
  font-size: 16px;
  height: 1.8em;
  font-family: 'TitilliumWeb-Regular';
  color: #727275;
}

header .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
  height: 3em;
  width: 10em;
}

header .social-media img {
  padding-right: 1.5em;
  height: 1em;
  width: auto;
}

.home {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle farthest-corner,
    rgba(204, 204, 204, 0.73) 0%,
    rgba(220, 220, 220, 0.78) 17.12%,
    rgba(240, 240, 240, 0.85) 43.94%,
    rgba(251, 251, 251, 0.92) 71.35%,
    rgba(255, 255, 255, 1) 100%
  );
}

.home .ilustration {
  height: 100vh;
  width: 100vw;
  background-image: url('./assets/main/ilustration.svg');
  background-repeat: no-repeat;
  background-size: 58% 58%;
  background-position: center;
  display: flex;
  justify-content: space-around;
}

.home .ilustration .home-text {
  width: 49vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.home .ilustration .home-text h1 {
  font-family: 'TitilliumWeb-Bold';
  color: #1213a4;
  font-size: 4em;
  grid-area: 4 / 2 / 6 / 9;
  line-height: 1.2;
}

.home .ilustration .home-text .paragraph {
  grid-area: 7 / 3 / 10 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 2px solid #f24741;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'GT-America-Trial-Light';
  color: #1213a4;
  font-size: 1.3em;
}

.home .ilustration .home-text .paragraph #colon {
  font-family: 'arial';
}

.home .ilustration .home-text .paragraph #monopolies {
  font-weight: bold;
}

.home .ilustration img {
  height: 5vh;
  width: auto;
  position: relative;
  margin-top: 50%;
  z-index: 1;
}

.home .ilustration .form {
  width: 49vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 2fr 3fr 2fr;
  grid-template-columns: repeat(14, 1fr);
}

.home .ilustration .form form {
  grid-area: 2 / 8 / 3 / 14;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}

.home .ilustration .form form input {
  width: 100%;
  height: 6vh;
  background-color: rgba(204, 204, 204, 0.41);
  font-size: 1.2em;
  font-family: 'TitilliumWeb-Regular';
  border-radius: 10px;
  padding: 4px 10px 4px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(204, 204, 204);
}

.home .ilustration .form form button {
  width: 100%;
  height: 6vh;
  background-color: #f24741;
  color: white;
  font-family: 'TitilliumWeb-SemiBold';
  font-size: 1.4em;
  border-radius: 10px;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  height: 85vh;
  width: 100vw;
  background: radial-gradient(
    circle farthest-corner,
    rgba(204, 204, 204, 0.73) 0%,
    rgba(221, 221, 221, 0.78) 17.65%,
    rgba(240, 240, 240, 0.85) 43.88%,
    rgba(251, 251, 251, 0.92) 70.98%,
    rgba(255, 255, 255, 1) 100%
  );
}

.about .about-logo,
.about .about-text {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about .about-logo {
  background-image: url('./assets/about/prometeos-logo.svg');
  background-repeat: no-repeat;
  background-size: 65% 65%;
  background-position: 75% 50%;
}

.about .about-logo .title {
  width: 50vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 30%;
}

.about .about-logo .title h1 {
  font-family: 'TitilliumWeb-Bold';
  font-size: 3em;
  color: #1213a4;
  width: 14vw;
  height: 8vh;
}

.about .about-logo .title .underline {
  height: 7px;
  width: 7vw;
  margin-right: 7vw;
  background-color: #1213a4;
}

.about .about-logo .about-buttons {
  width: 50vw;
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30vw;
}

.about .about-logo .about-buttons #prometeos-button,
.about .about-logo .about-buttons #eos-button {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'GT-America-Trial-Light';
}

.about .about-logo .about-buttons #prometeos-button img,
.about .about-logo .about-buttons #eos-button img {
  height: 1.4em;
  width: auto;
  position: relative;
}

.about .about-logo .about-buttons #prometeos-button p {
  width: 40vw;
  height: 10vh;
  font-size: 1.2em;
  color: #727275;
}

.about .about-logo .about-buttons .upper-button {
  height: 25vh;
  margin-bottom: 25vh;
}

.about .about-logo .about-buttons .lower-button {
  height: 10vh;
}

.about .about-logo .about-buttons .upper-button button {
  font-size: 4.5em;
}

.about .about-logo .about-buttons .lower-button button {
  font-size: 2.5em;
}

.about .about-logo .about-buttons button {
  display: flex;
  font-family: 'TitilliumWeb-Regular';
  color: #1213a4;
  width: justify;
  height: justify;
}

.about .about-text .prometeos-text {
  font-family: 'GT-America-Trial-Light';
  width: 35vw;
  font-size: 1.2em;
  color: #727275;
  margin-bottom: 4vh;
  margin-right: 5vw;
}

.about .about-text .prometeos-text p #colon {
  font-family: Arial;
}

.about .about-text .prometeos-text ul li .bold {
  font-weight: bolder;
}

.about .about-text .eos-text {
  font-family: 'GT-America-Trial-Light';
  width: 35vw;
  font-size: 1.2em;
  color: #727275;
  margin-bottom: 10vh;
  margin-right: 5vw;
}
